{
  "extends": ["@atolye15/eslint-config"],
  "rules": {
    "prettier/prettier": "off",
    "import/extensions": ["error", "never", { "svg": "always" }],
    "no-use-before-define": "off",
    "@typescript-eslint/no-use-before-define": ["error"],
    "no-shadow": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "import/prefer-default-export": "off",
    "react/no-unescaped-entities": ["error", { "forbid": [">", "}"] }],
    "react/jsx-props-no-spreading": "off"
  }
}
