@import '../../styles/extendables';

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  @extend .text-400;
  position: relative;
  overflow: hidden;
  padding: 10px;
  @extend .border-radius;

  &:hover {
    background-color: hsla(0, 0%, 50%, 0.3);
  }
}
