@import '../../styles/variables';
@import '../../styles/extendables';

.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  background-color: $--light-todo-list-bg;
  @extend .border-radius;
  box-shadow: $shadow 0px 8px 24px;

  &.dark {
    background-color: $--dark-todo-list-bg;
  }
}

.listContainer {
  max-height: 300px;
  overflow-y: auto;

  @media ($md) {
    max-height: 400px;
  }
}

.bottomSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-top: 1px solid $--light-todo-item-border;

  .amount {
    @extend .text-400;
    color: $--light-items-left-text;

    &.dark {
      color: $--dark-items-left-text;
    }
  }

  .clear {
    @extend .text-400;
    color: $--light-clear-text;

    &.dark {
      color: $--dark-clear-text;
    }
  }
}

.filterSection {
  display: none;

  @media ($md) {
    display: flex;
  }
}
