@import '../../styles/variables';
@import '../../styles/extendables';

.container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  background-color: $--light-todo-list-bg;
  @extend .border-radius;
  overflow: hidden;
  box-shadow: $shadow 0px 8px 24px;

  &.dark {
    background-color: $--dark-todo-list-bg;
  }
}

.bottomSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;

  .amount {
    @extend .text-400;
    color: $--light-items-left-text;

    &.dark {
      color: $--dark-items-left-text;
    }
  }

  .clear {
    @extend .text-400;
    color: $--light-clear-text;

    &.dark {
      color: $--dark-clear-text;
    }
  }
}
