// Common
$gradient-blue: hsl(192, 100%, 67%);
$gradient-purple: hsl(280, 87%, 65%);
$checkbox-inactive-border: hsl(270, 2%, 84%);
$filter-active: hsl(220, 98%, 61%);
$todo-list-header-label: hsl(0, 0%, 100%);
$shadow: hsla(210, 8%, 62%, 0.2);

// Light theme
$--light-bg: hsl(0, 0%, 98%);
$--light-todo-list-bg: hsl(0, 0%, 100%);
$--light-todo-item-bg: hsl(0, 0%, 100%);
$--light-todo-item-border: hsl(250, 4%, 68%);
$--light-todo-text: hsl(246, 16%, 36%);
$--light-text-hover: hsl(246, 16%, 36%);
$--light-todo-input-text: hsl(246, 16%, 36%);
$--light-todo-input-placeholder: hsl(250, 4%, 68%);
$--light-filter-text-inactive: hsl(240, 5%, 61%);
$--light-completed-todo-text: hsl(250, 4%, 68%);
$--light-items-left-text: hsl(250, 4%, 68%);
$--light-clear-text: hsl(250, 4%, 68%);
$--light-drag-drop-indicator: hsl(250, 4%, 68%);

// Dark theme
$--dark-bg: hsl(240, 20%, 12%);
$--dark-todo-list-bg: hsl(235, 24%, 19%);
$--dark-todo-item-bg: hsl(235, 24%, 19%);
$--dark-todo-item-border: hsl(236, 23%, 77%);
$--dark-todo-text: hsl(236, 23%, 77%);
$--dark-text-hover: hsl(236, 23%, 77%);
$--dark-todo-input-text: hsl(236, 23%, 77%);
$--dark-todo-input-placeholder: hsl(233, 10%, 51%);
$--dark-filter-text-inactive: hsl(236, 13%, 41%);
$--dark-completed-todo-text: hsl(238, 13%, 39%);
$--dark-items-left-text: hsl(238, 13%, 39%);
$--dark-clear-text: hsl(238, 13%, 39%);
$--dark-drag-drop-indicator: hsl(238, 13%, 39%);

// Breakpoints
$sm: 'min-width: 576px';
$md: 'min-width: 768px';
$lg: 'min-width: 992px';
$xl: 'min-width: 1200px';
