@import 'variables';
@import 'extendables';

.container {
  @extend .border-radius;
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: $--light-todo-item-bg;
  border-bottom: 1px solid $--light-todo-item-border;
  transition: transform 0.4s ease-in-out;
  opacity: 0;
  animation: fade-in 0.5s 1 forwards ease-in-out;
  @keyframes fade-in {
    to {
      opacity: 1;
    }
  }
  cursor: pointer;

  &:only-child,
  &:last-child {
    border-bottom: 0;
  }

  &.dark {
    background-color: $--dark-todo-item-bg;
  }

  &.fadeAway {
    opacity: 1;
    transform: translateX(-90px);
    animation: fade-away 0.4s 1 forwards ease-in-out;
    @keyframes fade-away {
      to {
        opacity: 0;
      }
    }
  }
}

.label {
  @extend .text-400;
  color: $--light-todo-text;

  &.completed {
    text-decoration: line-through;
    color: $--light-completed-todo-text;
  }

  &.dark {
    color: $--dark-todo-text;
  }

  @media ($md) {
    font-size: 20px;
  }
}

.deleteIcon {
  margin-left: auto;
}
