@import 'variables';
@import 'extendables';

.container {
  display: flex;
  flex-direction: column;
  width: 100%;

  @media ($md) {
    max-width: 75vw;
  }

  @media ($lg) {
    max-width: 50vw;
  }

  @media ($xl) {
    max-width: 37.5vw;
  }
}
