@import 'variables';
@import 'extendables';

.container {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: $--light-todo-item-bg;
  @extend .border-radius;
  margin-bottom: 15px;

  &.dark {
    background-color: $--dark-todo-item-bg;
  }

  @media ($md) {
    padding: 20px;
  }
}

.input {
  @extend .text-400;
  width: 100%;
  padding: 5px 10px;
  color: $--light-todo-input-text;

  &::placeholder {
    color: $--light-todo-input-placeholder;
  }

  &.dark {
    color: $--dark-todo-input-text;
  }

  @media ($md) {
    font-size: 20px;
  }
}

.invalid {
  border: 2px solid red;
}
